<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bootcamp_Flint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>368814B91E84B4EC0095292D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368814CD1E84B4ED0095292D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368814D81E84B4ED0095292D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
